<!DOCTYPE html>
<html lang="zh-CN">

<!-- Head tag -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--Description-->
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } %>

  <!--Author-->
  <% if (config.author){ %>
  <meta name="author" content="<%= config.author %>">
  <% } %>

  <!--Open Graph Title-->
  <% if (page.title){ %>
      <meta property="og:title" content="<%= page.title %>"/>
  <% } else { %>
      <meta property="og:title" content="<%= config.title %>"/>
  <% } %>
  <!--Open Graph Description-->
  <% if (page.description){ %>
      <meta property="og:description" content="<%= page.description %>" />
  <% } else if (config.description) { %>
      <meta property="og:description" content="<%= config.description %>" />
  <% } %>
  <!--Open Graph Site Name-->
  <meta property="og:site_name" content="<%= config.title %>"/>
  <!--Type page-->
  <% if(page.title) { %>
      <meta property="og:type" content="article" />
  <% } else { %>
      <meta property="og:type" content="website" />
  <% } %>
  <!--Page Cover-->
  <% if (page.share_cover) { %>
      <meta property="og:image" content="<%= config.url %><%= page.share_cover %>" />
  <% } else if (config.cover) { %>
      <meta property="og:image" content="<%= config.url %><%= config.cover %>"/>
  <% } %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- 百度统计 -->
    <script>
	var _hmt = _hmt || [];
	(function() {
  	var hm = document.createElement("script");
  	hm.src = "https://hm.baidu.com/hm.js?c0451e16533956173997b85f7a8de666";
  	var s = document.getElementsByTagName("script")[0]; 
  	s.parentNode.insertBefore(hm, s);
	})();
    </script>
  <!-- Title -->
  <%
  var title = [];
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive) {
      if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
      else title.push(__('archive_a'));
  }
  title.push(config.title);
  if (is_home() && config.subtitle) title.push(config.subtitle);
  %>
  <title><%= title.join(' - ') %></title>


  <link rel="shortcut icon" href="<%- url_for(config.favicon || theme.favicon) %>">
    <!--font-awesome-->
  <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%- css('css/thplayer') %>
  <!-- Custom CSS/Sass -->
  <%- css('css/style') %>

</head>


<body>

  <!-- Nav -->
  <header class="site-header">
  <div class="header-inside">
    
    <div class="logo">
      <a href="http://www.tianhao.site" rel="home">
        <% if (config.logo || theme.logo) { %>
        <img src="<%- config.logo || theme.logo %>" alt="<%- config.title %>" height="60">
        <% } %>
      </a>
    </div>
    <a class="header-name" href="<%= url_for() %>">
            <span><%- config.title %></span>
            的部落宅
        </a>
    <!-- navbar -->
    <nav class="navbar">
      <!--  nav links -->
      <div class="collapse">
        <ul class="navbar-nav">
          <% var site_navs = config.nav || theme.nav  %>
          <% for (var i in site_navs){ %>
            <li>
              <a href="<%- site_navs[i].url ? url_for(site_navs[i].url) : url_for(site_navs[i]) %>">
                <% if (site_navs[i].icon) { %>
                  <i class="fa fa-<%= site_navs[i].icon %> "></i>
                <% } %>
                <%= site_navs[i].id %>
              </a>
            </li>
          <% } %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
    <div class="button-wrap">
      <button class="menu-toggle">Primary Menu</button>
    </div>
  </div>
</header>


  <!-- Main Content -->
  
<div class="content-area">
  <div class="post">
    <!-- Post Content -->
    <div class="container">
      <article>
        <!-- Title date & tags -->
        <div class="post-header">
          <h1 class="entry-title">
            guestbook
            
          </h1>
         
        </div>
　　　　　　　　<p class="a-posted-on">2016-09-01</p>
        <!-- Post Main Content -->
        <div class="entry-content">
          <h2 id="我是个程序员，一天我坐在路边一边喝水一边苦苦检查程序。-这时一个乞丐在我边上坐下了，开始要饭，我觉得可怜，就给了他1块钱。-然后接着调试程序。他可能生意不好，就无聊的看看我在干什么，然后过了一会，他缓缓地指着我的屏幕说，这里少了个分号。"><a href="#我是个程序员，一天我坐在路边一边喝水一边苦苦检查程序。-这时一个乞丐在我边上坐下了，开始要饭，我觉得可怜，就给了他1块钱。-然后接着调试程序。他可能生意不好，就无聊的看看我在干什么，然后过了一会，他缓缓地指着我的屏幕说，这里少了个分号。" class="headerlink" title="我是个程序员，一天我坐在路边一边喝水一边苦苦检查程序。 这时一个乞丐在我边上坐下了，开始要饭，我觉得可怜，就给了他1块钱。 然后接着调试程序。他可能生意不好，就无聊的看看我在干什么，然后过了一会，他缓缓地指着我的屏幕说，这里少了个分号。"></a><strong>我是个程序员，一天我坐在路边一边喝水一边苦苦检查程序。 这时一个乞丐在我边上坐下了，开始要饭，我觉得可怜，就给了他1块钱。 然后接着调试程序。他可能生意不好，就无聊的看看我在干什么，然后过了一会，他缓缓地指着我的屏幕说，这里少了个分号。</strong></h2><p><br><br><br></p>
<p><blockquote class="blockquote-center">念念不忘，必有回响</blockquote><br><br></p>
<blockquote>
<p>最近访客</p>
<p><script type="text/javascript"><br>var duoshuoQuery = {short_name:”&lt;%= theme.duoshuo_shortname %&gt;”};<br>    (function() {<br>        var ds = document.createElement(‘script’);<br>        ds.type = ‘text/javascript’;ds.async = true;<br>        ds.src = (document.location.protocol == ‘https:’ ? ‘https:’ : ‘http:’) + ‘//static.duoshuo.com/embed.js’;<br>        ds.charset = ‘UTF-8’;<br>        (document.getElementsByTagName(‘head’)[0]<br>         || document.getElementsByTagName(‘body’)[0]).appendChild(ds);<br>    })();<br>    </script></p>
<div class="ds-recent-visitors" data-num-items="38" data-avatar-size="42" id="ds-recent-visitors"></div>

</blockquote>
<p><div class="ds-thread" data-thread-key="<%= page.layout %>-<%= page.slug %>" data-title="<%= page.title %>" data-url="<%= page.permalink %>"></div><br><br><br><br></p>

        </div>
      </article>
    </div>
    <!-- Pre or Next -->
    
　　　　
  </div>
</div>


　　<!-- top -->
  <div id="rocket-to-top">
	<div class="level-2"></div>
	<div class="level-3"></div>
</div>
<script src="http://oct3pmpde.bkt.clouddn.com/top.js"></script>


  
  <!-- Footer -->
  <!-- Footer -->
<footer class="site-info">
  <p>
    <span>th是个小屁孩 &copy; 2017</span>
    
      <span class="split">|</span>
      <span>th是个小屁孩的技术小屋</span>
    
  </p>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
本站总访问量<span id="busuanzi_value_site_pv"></span>次
本站访客数<span id="busuanzi_value_site_uv"></span>人次

</footer>


  <!-- After footer scripts -->
  <!-- scripts -->
<%- js('js/app.js') %>
<% if (theme.duoshuo_shortname) { %>
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:'<%= theme.duoshuo_shortname %>'};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
      </script>
    <!-- 多说公共JS代码 end -->
<% } %>



</body>

</html>
